body{
    background-color: #0F1923;
}

h1{
    color: white;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 960px;
    width: 720px;
}

.display {
  background-color: #A9A9A9 ;
  color: #E8F4FF;
  border: 2px solid #1E2D3D;
  font-size: 32px;
  padding: 10px 20px;
  text-align: left;
  border-radius: 4px;
  min-height: 60px;
  font-size: 48px;
  line-height: 60px;
}

.row{
    display: flex;
    gap: 2px;
    
}

.btn.multiply, .btn.divide, .btn.plus, .btn.minus, .btn.equal, .btn.power{
    background-color: #1F6FEB; 
}

.btn.zero{
    flex: 2;
    padding: 10px 22px 10px 22px;
    
}

.btn{
    flex: 1;
    background-color: #1E2D3D ;
    padding: 10px;
    color: #E8F4FF;
    border-radius: 4px;

}



